@page
@model RegisterModel




@if (User.IsInRole(SD.Role_Admin))
{
	<div class="container">
		<form method="post">

			<!--New User-->
			<div class="row pt-4 pb-3" id="topbar">

				<!-- Title -->
				<div class="col-10">
					<h2 class="text-primary">New User</h2>
				</div>

				<!-- Save Button -->
				<div class="col-lg-2 col-sm-6 text-center mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
					<button type="submit" class="btn btn-success"><i class="bi bi-floppy"></i> Save</button>
				</div>

			</div>

			<!--Breadcrumb-->
			<div class="row pb-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="User" asp-action="Index">User List</a></li>
						<li class="breadcrumb-item active" aria-current="page">New User</li>
					</ol>
				</nav>
			</div>

			<!--Customer Information-->
			<div class="row pt-4 pb-3">
				<div class="col-12">
					<div class="border p-3 container shadow row">

						<!--Title-->
						<div class="row pb-2">
							<h4 class="text-primary">User Information</h4>
							<hr />
						</div>

						<!-- UserID -->
						<div class="row">
							<div class="col-6">
								<div class="input-group mb-3">
									<label class="input-group-text" id="inputGroup-sizing-two">User ID:</label>
									<input class="form-control text-muted" placeholder="Auto-generetad user ID" aria-describedby="inputGroup-sizing-one" disabled>
								</div>
							</div>
						</div>

						<div class="row">
							<!-- First Name -->
							<div class="form-floating mb-3">
								<input asp-for="Input.Email" class="form-control" placeholder="name@example.com" />
								<label asp-for="Input.Email" class="ms-2 text-muted">Email</label>
								<span asp-validation-for="Input.Email" class="text-danger"></span>
							</div>
						</div>


						<div class="form-floating mb-3 col-md-6">
							<input asp-for="Input.Name" class="form-control" placeholder="name@example.com" />
							<label asp-for="Input.Name" class="ms-2 text-muted">Full Name</label>
							<span asp-validation-for="Input.Name" class="text-danger"></span>
						</div>
						<div class="form-floating mb-3 col-md-6">
							<input asp-for="Input.PhoneNumber" class="form-control" placeholder="name@example.com" />
							<label asp-for="Input.PhoneNumber" class="ms-2 text-muted">Phone Number</label>
							<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
						</div>


						<div class="form-floating mb-3 col-md-6">
							<label asp-for="Input.Password" class="form-label">Password</label>
							<div class="input-group">
								<input asp-for="Input.Password" class="form-control border-end-0" autocomplete="new-password" aria-required="true" placeholder="Password" />
								<button type="button" class="btn border border-start-0" onclick="togglePasswordVisibility('Input.Password')"><i class="bi bi-eye"></i></button>
							</div>
							<span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>

						<div class="form-floating mb-3 col-md-6">
							<label asp-for="Input.ConfirmPassword" class="form-label">ConfirmPassword</label>
							<div class="input-group">
								<input asp-for="Input.ConfirmPassword" class="form-control border-end-0" autocomplete="new-password" aria-required="true" placeholder="Confirm password" />
								<button type="button" class="btn border border-start-0" onclick="togglePasswordVisibility('Input.ConfirmPassword')"><i class="bi bi-eye"></i></button>
							</div>
							<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
						</div>

						<div class="form-floating mb-3 col-md-6">
							<input asp-for="Input.StreetName" class="form-control" placeholder="name@example.com" />
							<label asp-for="Input.StreetName" class="ms-2 text-muted">Street Name</label>
							<span asp-validation-for="Input.StreetName" class="text-danger"></span>
						</div>
						<div class="form-floating mb-3 col-md-6">
							<input asp-for="Input.City" class="form-control" placeholder="name@example.com" />
							<label asp-for="Input.City" class="ms-2 text-muted">City</label>
							<span asp-validation-for="Input.City" class="text-danger"></span>
						</div>
						<div class="form-floating mb-3 col-md-6">
							<input asp-for="Input.Province" class="form-control" placeholder="name@example.com" />
							<label asp-for="Input.Province" class="ms-2 text-muted">Province</label>
							<span asp-validation-for="Input.Province" class="text-danger"></span>
						</div>
						<div class="form-floating mb-3 col-md-6">
							<input asp-for="Input.Barangay" class="form-control" placeholder="name@example.com" />
							<label asp-for="Input.Barangay" class="ms-2 text-muted">Barangay</label>
							<span asp-validation-for="Input.Barangay" class="text-danger"></span>
						</div>
						<div class="form-floating mb-3 col-md-6">
							<input asp-for="Input.PostalCode" class="form-control" placeholder="name@example.com" />
							<label asp-for="Input.PostalCode" class="ms-2 text-muted">Postal Code</label>
							<span asp-validation-for="Input.PostalCode" class="text-danger"></span>
						</div>


						<div class="form-floating mb-3 col-md-6">
							<select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
								<option disabled selected>-Select Role-</option>
							</select>
						</div>


						<div class="col-12">
							<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Back on top Button -->
			<div class="col-lg-2 col-sm-6 text-center mb-3 mb-sm-0 position-fixed" style="bottom: 20px; right: 20px;">
				<!-- Back Button -->
				<a href="#" class="btn btn-secondary rounded-circle">
					<i class="bi bi-arrow-up"></i>
				</a>
			</div>
		</form>
	</div>
}
else
{
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<div class="card shadow border-2 mt-4">
					<div class="card-body p-4">
						<div class="row pt-3">
							<div class="col-md-12">
								<form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
									<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

									<div class="mt-1 pb-4" style="color:#223442; text-align: center;">
										<h1><b>SIGN UP</b></h1>
										<p>Create your account and start shopping!</p>
									</div>

									<div class="form-floating mb-3 col-md-12">
										<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
										<label asp-for="Input.Email" class="ms-2 text-muted">Email address</label>
										<span asp-validation-for="Input.Email" class="text-danger"></span>
									</div>

									<div class="form-floating mb-3 col-md-6">
										<label asp-for="Input.Password" class="form-label">Password</label>
										<div class="input-group">
											<input asp-for="Input.Password" class="form-control border-end-0" autocomplete="new-password" aria-required="true" placeholder="Password" />
											<button type="button" class="btn border border-start-0" onclick="togglePasswordVisibility('Input.Password')"><i class="bi bi-eye"></i></button>
										</div>
										<span asp-validation-for="Input.Password" class="text-danger"></span>
									</div>

									<div class="form-floating mb-5 col-md-6">
										<label asp-for="Input.ConfirmPassword" class="form-label">ConfirmPassword</label>
										<div class="input-group">
											<input asp-for="Input.ConfirmPassword" class="form-control border-end-0" autocomplete="new-password" aria-required="true" placeholder="Confirm password" />
											<button type="button" class="btn border border-start-0" onclick="togglePasswordVisibility('Input.ConfirmPassword')"><i class="bi bi-eye"></i></button>
										</div>
										<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
									</div>

									<div class="form-floating mb-3 col-md-12">
										<input asp-for="Input.Name" class="form-control" placeholder="Juan Dela Cruz" />
										<label asp-for="Input.Name" class="ms-2 text-muted">Full name <b><small>(e.g. Juan Dela Cruz)</small></b></label>
										<span asp-validation-for="Input.Name" class="text-danger"></span>
									</div>
									<div class="form-floating mb-3 col-md-12">
										<input asp-for="Input.PhoneNumber" id="phoneNumberInput" class="form-control" placeholder="name@example.com" />
										<label asp-for="Input.PhoneNumber" class="ms-2 text-muted">Contact number</label>
										<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
									</div>
									<div class="form-floating mb-3 col-md-6">
										<input asp-for="Input.StreetName" class="form-control" placeholder="name@example.com" />
										<label asp-for="Input.StreetName" class="ms-2 text-muted">Street Name</label>
										<span asp-validation-for="Input.StreetName" class="text-danger"></span>
									</div>
									<div class="form-floating mb-3 col-md-6">
										<input asp-for="Input.Barangay" class="form-control" placeholder="name@example.com" />
										<label asp-for="Input.Barangay" class="ms-2 text-muted">Barangay</label>
										<span asp-validation-for="Input.Barangay" class="text-danger"></span>
									</div>
									<div class="form-floating mb-3 col-md-6">
										<input asp-for="Input.City" class="form-control" placeholder="name@example.com" />
										<label asp-for="Input.City" class="ms-2 text-muted">City</label>
										<span asp-validation-for="Input.City" class="text-danger"></span>
									</div>
									<div class="form-floating mb-3 col-md-6">
										<input asp-for="Input.Province" class="form-control" placeholder="name@example.com" />
										<label asp-for="Input.Province" class="ms-2 text-muted">Province</label>
										<span asp-validation-for="Input.Province" class="text-danger"></span>
									</div>
									<div class="form-floating mb-3 col-md-6">
										<input asp-for="Input.PostalCode" class="form-control" placeholder="name@example.com" />
										<label asp-for="Input.PostalCode" class="ms-2 text-muted">Postal Code</label>
										<span asp-validation-for="Input.PostalCode" class="text-danger"></span>
									</div>

									@if (User.IsInRole(SD.Role_Admin))
									{
										<div class="form-floating mb-3 col-md-6">
											<select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
												<option disabled selected>-Select Role-</option>
											</select>
										</div>
									}

									<div class="col-12 mt-4 mb-4 d-flex justify-content-center">
										<button id="registerSubmit" type="submit" class="w-50 btn btn-lg" style="border-radius: 30px; background-color:#223442; color:white;">Sign up</button>
									</div>
								</form>
							</div>

							<!--Login with Google-->
							<div class="col-md-12 text-center">
								<section>
									<p class="divider-text d-flex pt-3">or</p>
									<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
										<div>
											<p>
												@foreach (var provider in Model.ExternalLogins!)
												{
													<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
												}
											</p>
										</div>
									</form>
								</section>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}







@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		function togglePasswordVisibility(inputName) {
			var passwordInput = document.querySelector('input[name="' + inputName + '"]');
			var buttonIcon = document.querySelector('button[onclick="togglePasswordVisibility(\'' + inputName + '\')"] i');

			if (passwordInput.type === 'password') {
				passwordInput.type = 'text';
				buttonIcon.classList.remove('bi-eye');
				buttonIcon.classList.add('bi-eye-slash');
			} else {
				passwordInput.type = 'password';
				buttonIcon.classList.remove('bi-eye-slash');
				buttonIcon.classList.add('bi-eye');
			}
		}
	</script>
}