@model IEnumerable<Product>

<div class="row">
    <form asp-controller="Home" asp-action="Shop" method="get">
        <div class="input-group md-form form-control-sm form-2 pl-0 py-5">
            <input name="searchString" class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search" />
            <div class="input-group-append">
                <span class="input-group-text lighten-3" id="basic-text1">
                    <i class="bi bi-search" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <button type="submit" class="d-none">Submit</button>
    </form>
</div>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3">
            <div class="row p-2">
                <div class="col-12">

                    <!--Card-->
                    <div class="card border-0 mb-3 p-3 border-top border-5 shadow rounded" width="25%">
                        <div class="d-flex justify-content-center">
                            <img src="@product.ImageUrl" class="card-img-top rounded" style="max-width: 200px; max-height: 200px;" />
                        </div>

                        <div class="card-body pb-0">
                            <h6 class="card-title text-dark opacity-75 text-uppercase text-center">@product.productName</h6>
                            <h6 class="card-title text-warning text-center">@product.Brand</h6>
                            <h6 class="card-title text-secondary text-center">Stock: @product.StockQuantity</h6>
                        </div>

                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center">
                                Price: <span>@product.RetailPrice.ToString("c")</span>
                            </p>
                        </div>
                        <div>
                            <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/searchshop.js"></script>
}