@model List<ABC.Models.Product>

@{
    var orderDetails = (List<ABC.Models.OrderDetail>)ViewBag.OrderDetails;
}

<link rel="stylesheet" href="~/css/dashboard.css" />



<div class="container-fluid">
    <div class="row pt-4 pb-3">
        <div class="col-lg-6 col-sm-12 text-start mb-3 mb-sm-0">
            <h2 class="text-primary">Dashboard</h2>
        </div>
    </div>
    <div class="row pb-1">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h2>
                        @ViewBag.totalcustomers
                    </h2>

                    <p>No. of Customers</p>
                </div>
                <a asp-area="Admin" asp-controller="Customer" asp-action="Index" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h2>
                        @ViewBag.unprocessedOrders
                    </h2>

                    <p>Orders to Process</p>
                </div>
                <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h2>
                        @ViewBag.ordersoutfordelivery
                    </h2>

                    <p>Orders to Deliver</p>  <!-- connect mo dito yung method para sa orders bale dapat TotalOrders or kung anong naming ang gusto mo -->
                    <!-- Ang bibilangin neto eh yung mga order na nasa "To deliver" stat palang -->
                </div>
                <a asp-area="Admin" asp-controller="" asp-action="" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h2>
                        @ViewBag.cancelledOrders
                    </h2>

                    <p>Cancelled Orders</p>
                    <!-- Ang bibilangin neto eh yung mga nacancel sa loob ng isang buwan, kahit anong sales channel pa yan kasama sa bilang neto-->
                </div>
                <a asp-area="Admin" asp-controller="" asp-action="" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
            </div>
        </div>
    </div>

    <div class="row pt-2 pb-1">
        <div class="col-12">
            <div class="border p-3 container shadow">
                <!--Title-->
                <div class="row pb-2">
                    <h4 class="text-primary">Sales Overview</h4>
                    <hr />
                </div>
                <div class="row justify-content-center">
                    <div class="chart1" style="width: 95%; height: 30%;">
                        <canvas id="linechart" style="max-width: 100%; max-height: 100%;"
                                salesrevenue=" @ViewBag.SalesRevenue"
                                costpricetotal=" @ViewBag.totalCost"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3 pb-1">
        <div class="col-6">
            <div class="border p-3 container shadow">
                <!--Title-->
                <div class="row pb-4">
                    <h4 class="text-primary">Inventory</h4>
                    <hr />
                </div>
                <div class="row">
                    <!-- Small boxes with centered content -->
                    <div class="col-5 mx-auto">
                        <div class="small-box bg-success">
                            <div class="inner text-center">
                                <h2>@ViewBag.totalProductsInstock</h2>
                                <p>In Stock Products</p>
                            </div>
                            <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="small-box-footer text-center">More info <i class="bi bi-arrow-right-circle"></i></a>
                        </div>
                    </div>
                    <div class="col-5 mx-auto">
                        <div class="small-box bg-info">
                            <div class="inner text-center">
                                <h2>@ViewBag.totalProdcategories</h2>
                                <p>No. of Categories</p>
                            </div>
                            <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="small-box-footer text-center">More info <i class="bi bi-arrow-right-circle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 mx-auto">
                        <div class="small-box bg-warning ">
                            <div class="inner">
                                <h2>
                                    @ViewBag.lowstockproducts
                                </h2>

                                <p>Low Stock Products</p>
                            </div>

                            <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
                        </div>
                    </div>
                    <div class="col-5 mx-auto pb-5">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h2>
                                    @ViewBag.outofstockproducts
                                </h2>

                                <p>Out of Stock Products</p>
                            </div>

                            <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="border p-3 container shadow">
                <!--Title-->
                <div class="row">
                    <h4 class="text-primary">Sales Earnings by Channel</h4>
                    <hr />
                </div>
                <div class="row">
                    <div class="chart2" style="width: 100%; height: 45vh;">
                        <canvas id="piechart" style="width: 100%; height: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3 pb-3">
        <div class="col-12">
            <div class="border p-3 container shadow">
                <!-- Title -->
                <table class="table table-hover scrollable-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Best Seller</th>
                            <th>Qty.</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            var totalSold = (int)orderDetails.Where(detail => detail.ProductId == product.Id).Sum(detail => detail.Count);
                            var totalPrice = orderDetails
                            .Where(detail => detail.ProductId == product.Id)
                            .Sum(detail => detail.Product != null ? (detail.Product.RetailPrice * detail.Count) : 0);

                            <tr>
                                <td><img src="@product.ImageUrl" alt="Product Image" width="50" height="50"></td>
                                <td>@product.productName</td>
                                <td>@totalSold</td>
                                <td>@String.Format("{0:C}", totalPrice)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="//cdn.jsdelivr.net/npm/chart.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="~/js/dashboard.js"></script>